<div class="hfeed">

  <%= render :partial => 'twitter_zeldman' %>
  <%= render :partial => 'flickr_bikeswarm' %>
  <%= render :partial => 'flickr_sophiekg' %>
  <%= render :partial => 'flickr_wildturkeysatemybrains' %>
  <%= render :partial => 'flickr_impetusmac' %>
  <%= render :partial => 'twitter_topfunky' %>
  <%= render :partial => 'twitter_amyhoy' %>

</div><!-- #feed -->
