<%#= render :partial => @activities %>
<% unless @tweets.nil?
	@tweets.each do |tweet|%>
<article class="hentry vcard">
  <div class="span-24 activity activity_object_type_<%= tweet[:name] %>">
      <div class="span-4 activity-meta">
        <a href="<%= tweet[:name] %>" rel="bookmark">
          <img class="photo"
               src="<%= tweet[:picture] %>"
               alt="<%= tweet[:name] %>'s profile picture from
                    twitter" />
        </a>
        <abbr class="updated published" title="<%= tweet[:created] %>">
          <%= time_ago_in_words(tweet[:created]).capitalize %> ago
        </abbr>
        <a class="nickname" href="<%= tweet[:name] %>" rel="bookmark"><%= tweet[:nickname] %></a>
      </div><!-- .meta -->

      <div class="span-20 last activity-core">
        <h3 class="entry-title">
          <span class="author activity-noun">
            <span class="fn"><%= tweet[:name] %></span>
          </span>

          <a href="<%= tweet[:name] %>" rel="bookmark">
            <span class="activity-verb"><%= "posted" %></span> a
            <span class="activity-object"><%= "message" %></span></a>
          <span class="alt">on</span>
          <a href="<%= "http://www.twitter.com" %>" rel="bookmark">
            <span class="activity-indirect-object"><%= "twitter" %></span>
          </a>
        </h3><!-- .entry-title -->

        <div class="entry-content">
          <%= tweet[:text] %>
        </div><!-- .entry-content -->
      </div><!-- . -->
  </div>
</article><!-- .hentry.activity -->
<%	end 
end%>
