<p>
  <b>Activity indirect object:</b>
  <%=h @activity.activity_indirect_object %>
</p>

<p>
  <b>Activity indirect object bookmark:</b>
  <%=h @activity.activity_indirect_object_bookmark %>
</p>

<p>
  <b>Activity noun:</b>
  <%=h @activity.activity_noun %>
</p>

<p>
  <b>Activity object:</b>
  <%=h @activity.activity_object %>
</p>

<p>
  <b>Activity object bookmark:</b>
  <%=h @activity.activity_object_bookmark %>
</p>

<p>
  <b>Activity object title:</b>
  <%=h @activity.activity_object_title %>
</p>

<p>
  <b>Activity verb:</b>
  <%=h @activity.activity_verb %>
</p>

<p>
  <b>Author bookmark:</b>
  <%=h @activity.author_bookmark %>
</p>

<p>
  <b>Avatar:</b>
  <%=h @activity.avatar %>
</p>

<p>
  <b>Entry content:</b>
  <%=h @activity.entry_content %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @activity.nickname %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>