<!DOCTYPE html>
<html>
<%= render :partial => '/layouts/head' %>

<body>
	<% unless cookies[:openid] %>
	<style> @import 'http://www.clickpass.com/stylesheets/container.css'; </style>
<div id="clickpass_button" style="width: 176px; height: 28px; position: relative; z-index : 9999 ;">
  <iframe src="http://www.clickpass.com/embedded_buttons/login-standard/7koO02B3Gc" width="176" height="28" frameborder="0" allowtransparency="true" scrolling="no" style="z-index:9999;position: absolute; top: 0; left: 0;"></iframe> 
</div>
<script type="text/javascript" src="http://www.clickpass.com/javascripts/ClickpassPanel.class.external.js?v1"></script>
<script type="text/javascript">  
      var clickpassPanel = new ClickpassPanel('clickpass_button');   </script>
 <% end 
	if cookies[:openid] && @token_set.nil? %>
		<a href="/oauth">Add a twitter account!</a>
	<% end %>
  <header>
    <div class="container">
      <h1 class="column span-16"><%= link_to "Razzle Dazzle", root_path %></h1>
      <div id="jk_note" class="span-8 last">
        Use J/K to move up/down
      </div>
    </div>
  </header>
<h1><% if cookies[:openid] %>Hello <%= @user.nickname %>!<% end %></h1>
  <div id="main" class="container">
  	
    <%= yield %>
  </div>

  <footer>
    <div class="container">
      <nav class="pagination">
        <ul>
          <li><%= link_to_unless_current "Activity Stream", root_path, :class => "next_page", :rel => "next" %></li>
          <li><%= link_to_unless_current "A Manifesto", manifesto_path, :class => "next_page", :rel => "next" %></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
